.xrexpandside {
  height: 0;
}
.xrexpandside, .xrexpandactive {
  overflow: hidden;
}
.xrexpandactive {
  transition-duration: .25s;
  transition-property: width, height;
  transition-timing-function: ease;
}
