.xrslideactive {
  perspective: 1000;
  transition-property: opacity, transform;
}
.xrslidetop {
  transform: translateY(-100%);
}
.xrslideright {
  transform: translateX(100%);
}
.xrslidebottom {
  transform: translateY(100%);
}
.xrslideleft {
  transform: translateX(-100%);
}
