.slideActive {
  perspective: 1000;
  transition-property: opacity, transform;
}
.slideTop {
  transform: translateY(-100%);
}
.slideRight {
  transform: translateX(100%);
}
.slideBottom {
  transform: translateY(100%);
}
.slideLeft {
  transform: translateX(-100%);
}
